html {
    font-size: 16px;
    font-family: Verdana;
    color: #343434;
}

body {
    background-color: #E7F1DC;
    max-width: 1600px;
}

h1 {
    font-family: "Italianno";
    font-size: 4rem;
}

header {
    max-width: 1600px;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #252c2e;
}

header .content {
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
}

nav li {
    padding-right: 3.5rem;
    display: inline;
}

nav a {
    color: white;
    vertical-align: bottom;
    line-height: 1.6;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
}

main {
    padding-top: 55px;
}

.banner-container {
    background-image: url('../images/blog background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    margin-bottom: -2.6rem;
}

.banner {
    background-color:rgba(227, 231, 160, 0.8);
    height: 250px;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
    margin-top: 45px;
    margin-left: 80px;
    border-radius: 20px;
}

.banner p {
    font-family: "Italianno";
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: -30px;
}

.subscribe-button {
    font-size: 1rem;
    background-color: #E4E4D0;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.subscribe-button:hover {
    background-color: #CDCDBB;
}

.subscribe-button:active {
    background-color: #727268;
    color: #E4E4D0;
}

.title {
    background-color: #B5C1B2;
    text-align: center;
}

.title h1 {
    padding: 1rem;
}

.text {
    padding-left: 50px;
}

.text a {
    color: #6c7a60;
    transition: color 0.3s ease;
}

.link-list {
    display: flex;
  }
  

.link-list li {
    margin-bottom: 10px;
    display: inline;
}

.link-container a, .link-list a {
    display: inline-block;
    padding: 10px 20px;
    color: #343434;
    background-color: #FEFAE0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
    margin-right: 5px;
}

.link-container a:visited, .link-list a:visited {
    color: grey;
}
  
.main-link {
    font-size: 1.5rem;
}

.portrait-container {
    background-image: url('../images/portrait background.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-flex;
    width: 100%;
    height: 500px;
    margin-top: -45px;
}

.portrait-photo {
    display: block;
    margin-left: 50px;
    margin-top: 20px;
    height: 250px;
    border-radius: 10%;
    border: 4px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

.timeline {
    margin-top: 50px;
    background-color: rgba(256, 256, 256, 0.6);
    border-radius: 10%;
    padding: 30px;
    display: flex;
    align-items: center;
    height: 250px;
}

.timeline li {
    line-height: 3rem;
    word-wrap: break-word;
}

.timeline li:hover {
    word-wrap: break-word;
    font-size: 1.3rem;
}

.icon {
    height: 30px;
    align-items: center;
    margin-right: 10px;
}

.text.timeline li {
    display: flex;
    align-items: center;
}

.text.timeline li img.icon {
    margin-right: 10px;
    transition: transform 0.3s ease;
}
  
.text.timeline li:hover img.icon {
    transform: scale(1.4);
}
